$blues : #41aea9;
$whites : #ffffff;

body {
    nav {
        .container {
            .navbar-brand {
                font-weight: bold;

                &:hover {
                    color: $blues;
                }
            }

            .collapse {
                .nav {
                    a {
                        padding-left: 20px;
                        padding-right: 20px;
                        font-weight: 500;

                        &:hover {
                            color: $blues;
                            font-weight: 500;
                        }
                    }
                }
            }

            .text-blue {
                color: $blues;
            }

            
        padding-top: 10px;
        padding-bottom: 10px;
        }
    }

    section {
        p {
            line-height: 200%;
            color: #acacac;
            text-align: justify;
        }

        .custombtn {
            padding: 15px;
            font-weight: 500;
        }

        .card {
            .card-body {
                img {
                    margin-top: 10px;
                }

                h5 {
                    text-align: center;
                    margin-top: 30px;
                    font-weight: bold;
                }

                h6 {
                    text-align: center;
                }
            }

            border-radius: 10px;

            &:hover {
                box-shadow: 0 4px 8px 0 rgba(51, 205, 252, 0.2), 0 6px 20px 0 rgba(0, 183, 255, 0.19);
            }
        }

        .center {
            text-align: center;

        }

        .two {
            margin-top: 30px;
        }

        .all {
            margin-top: 50px;
            padding: 10px;
        }
    }

    background-color:#ffffff;
}

footer{
    a{
        color: $whites;

        &:hover{
            color: $blues;
            text-decoration: none;
        }
    }

    padding-bottom: 50px;
}

.space{
    margin-top: 165px;
}

.text-blue {
    color: $blues;
}

.btn-blue {
    color: #fff;
    background-color: #41aea9;
    border-color: #41aea9;
}

.btn-blue:hover {
    color: #fff;
    background-color: #41aea9;
    border-color: #41aea9;
}

.btn-blue:focus,
.btn-blue.focus {
    color: #fff;
    background-color: #41aea9;
    border-color: #41aea9;
    box-shadow: 0 0 0 0.2rem #41aea9;
}

.btn-outline-blue {
    color: #41aea9;
    border: 3px #41aea9 solid;
}

.btn-outline-blue:hover {
    color: #fff;
    background-color: #41aea9;
    border-color: #41aea9;
}

.btn-outline-blue:focus,
.btn-outline-blue.focus {
    box-shadow: 0 0 0 0.2rem rgba(41, 181, 224, 0.5);
}