body {
  background-color: #ffffff;
}

body nav .container {
  padding-top: 10px;
  padding-bottom: 10px;
}

body nav .container .navbar-brand {
  font-weight: bold;
}

body nav .container .navbar-brand:hover {
  color: #41aea9;
}

body nav .container .collapse .nav a {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
}

body nav .container .collapse .nav a:hover {
  color: #41aea9;
  font-weight: 500;
}

body nav .container .text-blue {
  color: #41aea9;
}

body section p {
  line-height: 200%;
  color: #acacac;
  text-align: justify;
}

body section h5 {
  line-height: 200%;
  color: #acacac;
  text-align: justify;
  width: 400px;
}

body section .custombtn {
  padding: 15px;
  font-weight: 500;
}

body section .card {
  border-radius: 10px;
}

body section .card .card-body img {
  margin-top: 10px;
}

body section .card .card-body h5 {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

body section .card .card-body h6 {
  text-align: center;
}

body section .card:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(51, 205, 252, 0.2), 0 6px 20px 0 rgba(0, 183, 255, 0.19);
          box-shadow: 0 4px 8px 0 rgba(51, 205, 252, 0.2), 0 6px 20px 0 rgba(0, 183, 255, 0.19);
}

body section .center {
  text-align: center;
}

body section .two {
  margin-top: 30px;
}

body section .all {
  margin-top: 50px;
  padding: 10px;
}

footer {
  padding-bottom: 50px;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  color: #41aea9;
  text-decoration: none;
}

.p-skill {
  width: 450px;
}

.space {
  margin-top: 165px;
}

.space-section {
  margin-top: 20px;
}

.text-blue {
  color: #41aea9;
}

.btn-blue {
  color: #fff;
  background-color: #41aea9;
  border-color: #41aea9;
}

.btn-blue:hover {
  color: #fff;
  background-color: #41aea9;
  border-color: #41aea9;
}

.btn-blue:focus,
.btn-blue.focus {
  color: #fff;
  background-color: #41aea9;
  border-color: #41aea9;
  -webkit-box-shadow: 0 0 0 0.2rem #41aea9;
          box-shadow: 0 0 0 0.2rem #41aea9;
}

.btn-outline-blue {
  color: #41aea9;
  border: 3px #41aea9 solid;
}

.btn-outline-blue:hover {
  color: #fff;
  background-color: #41aea9;
  border-color: #41aea9;
}

.btn-outline-blue:focus,
.btn-outline-blue.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(41, 181, 224, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(41, 181, 224, 0.5);
}

.tengah {
  margin-left: auto;
  margin-right: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.box {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card:hover .box,
.card.active .box {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */